@import url(normalizer.css);
@import url(hover.css);

.conteiner{
    width: 100vw;
    height: 100vh;
    background: url("../img/bg1.webp") no-repeat center;
    background-size: cover;
    user-select: none;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.whidth{
    width: 1208px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link-logo{
    margin: 18px 79px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}
.link{
    display: flex;
    align-items: center;
    color: #FFFFFF;


}
.icon{
    margin-right: 25px;
}
.border{
    display: flex;
    align-items: center;
    position: relative;
    height: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    gap: 3px;
}

.link-nav{
    color: currentColor;

}
.item-one{
    padding-left: 27px;
}

.border::before{
    content: '';
    width: 1px;
    height: 20px;
    position: absolute;
    border-left: 1px;
    background-color: #FFFFFF;
    opacity: 0.5;
}
.wrap-form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    width: 444px;
    height: 584px;
    background-color: #FFFFFF;
    border: none;
    position: relative;
}
.header-form{
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 29px;
}
.header-form::before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background: #3CB878;
}
.sign-up{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin-left: 60px;
}
.log-in{
    margin-right: 59px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    position: relative;
}

.button{
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.button-link{
    width: 160px;
    height: 48px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
}
.svg-logoF{
    margin-right: 18.8px;
}
.svg-logoG{
    margin-right: 7px;
}
.line-b{
    margin-left: 18px;
    position: relative;
}
.line-a{
    margin-left: 30px;
    position: relative;
}
.line-a::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    top: -7px;
    left: -30px;
    border-left: 1px;
    background: #2B0D09;
    opacity: 0.1;
}
.line-b::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    top: -7px;
    left: -18px;
    border-left: 1px;
    background: #2B0D09;
    opacity: 0.1;
}
.Facebook{
    background: #305DB8;
}
.Google{
    background: #DF4A32;
}

.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.line-choice{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.line-choice::before{
    content: '';
    position: absolute;
    width: 152px;
    height: 1px;
    top: 7.5px;
    left: 15px;
    background: #F2F2F2;
}

.line-choice::after{
    content: '';
    position: absolute;
    width: 152px;
    height: 1px;
    top: 7.5px;
    right: 15px;
    background: #F2F2F2;
}

.fill-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.input {
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 14px;
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    color: #434343;
    cursor: pointer;
}

.input::placeholder {
    font-size: 14px;
    color: #BEBEBE;
    font-family: 'Ubuntu', sans-serif;
}

.input:focus {
    border: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.check{
    display: flex;
    align-items: center;
    margin-top: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.checkbox{
    margin-right: 3.5px;
    margin-left: 62px;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.link-check{
    color: #01813F;
    position: relative;
}

input[type=checkbox] {
    display: none;
}

.xbox{
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    cursor: pointer;
}
.svg-box{
    display: none;
}

.svg-box path {
    stroke: currentColor;
}

.checkbox-hidden:checked ~ .xbox .svg-box {
    display: block;
}

.correct{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.button-correct{
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}
